#header-inner
  #logo-container
    %h2 STORE NAME
  #header-right
    #dynamic-links
      %ul
        %li
          %a{href: "/account"} my account
        %li
          %a{href: "/bag"} shopping bag

    #nav-links
      %ul
        %li
          %a{href: "/shop"} shop
        %li
          %a{href: "/about"} about
